$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?465b991cba7ac18a786651648cd5b408") format("truetype"),
url("./flaticon.woff?465b991cba7ac18a786651648cd5b408") format("woff"),
url("./flaticon.woff2?465b991cba7ac18a786651648cd5b408") format("woff2"),
url("./flaticon.eot?465b991cba7ac18a786651648cd5b408#iefix") format("embedded-opentype"),
url("./flaticon.svg?465b991cba7ac18a786651648cd5b408#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "light-bulb": "\f101",
    "key": "\f102",
    "hr": "\f103",
    "talent-management": "\f104",
    "responsibility-1": "\f105",
);

.flaticon-light-bulb:before {
    content: map-get($flaticon-map, "light-bulb");
}
.flaticon-key:before {
    content: map-get($flaticon-map, "key");
}
.flaticon-hr:before {
    content: map-get($flaticon-map, "hr");
}
.flaticon-talent-management:before {
    content: map-get($flaticon-map, "talent-management");
}
.flaticon-responsibility-1:before {
    content: map-get($flaticon-map, "responsibility-1");
}
